html, body {
  color: white;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  padding: 50px;
}

h3{
  color: red;
}

button{

  padding: 10px;
  border: 10px snow yellow;
  background-color: aqua;
  font-size: 18px;
}